@import "./variables";

nav {
  padding: 2rem;
  background-color: $dark-blue;

  .large-nav {
    display: none;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

nav[data-toggle="close"] {
  position: static;
  width: 100%;
  height: 60px;

  .close-content {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }

  .open-content {
    display: none;
    // transform: translateX(110%);
  }
}

nav[data-toggle="open"] {
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  width: 75%;
  height: 100vh;
  background-color: $dark-blue;

  display: flex;
  align-items: center;
  transform: translateX(0%);
  transition: transform 350ms ease-out;

  .close-content {
    display: none;
  }

  .open-content {
    display: flex;
    flex-direction: column;

    img[id="hamburger"] {
      position: absolute;
      top: 15px;
      right: 15px;
      height: 30px;
      width: 30px;
    }

    ul {
      display: block;
      padding-left: 2rem;
    }
  }
}

@media screen and (min-width: $screen-lg) {
  nav[data-toggle="close"] {
    .close-content {
      display: none;
    }

    .open-content {
      display: none;
    }
  }
  nav[data-toggle="open"] {
    .close-content {
      display: none;
    }

    .open-content {
      display: none;
    }
  }

  nav {
    padding: 3rem 5rem 5rem 5rem;
    .large-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        display: inline;
      }

      span {
        font-weight: 600;
        font-size: 2rem;
      }

      li.active {
        color: #8480ff;
        background-image: linear-gradient(to right, #d53f8c, #8480ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        display: inline-block;
      }

      li + li {
        margin-left: 5rem;
      }
    }
  }
}
